$gray: hsl(0, 0%, 59%);
$dark-gray: hsl(0, 0%, 17%);



h4 {
  margin-top: -10px;
  margin-bottom: 5px;
  font-size: 12px;
  letter-spacing: 2px;
  color: $gray;

}

h2 {
  margin-top: 10px;
  font-size: 24px;
  font-weight: 500;
  color: $dark-gray;
}

.info-container {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  flex-wrap: wrap;
  z-index: 1;
  padding: 15px;
  border-radius: 15px;
  margin-top: 30px;
  background-color: white;
  height: 130px;

}

.card {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
  width: 280px;
  align-items: flex-start;
  justify-items: flex-start;
}

.separator {
  background-color: $gray;
  height: 75px;
  width: 1px;
  margin-right: 25px;
}

@media (max-width: 1200px) {
  .info-container {
    height: fit-content;
  }

  .separator {
    display: none;
  }
}



@media (max-width: 600px) {
  h4 {
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: 10px;
  }

  h2 {

    font-size: 20px;

  }

  .info-container {
    margin-top: 20px
  }

  .card {

    align-items: center;

  }

}