.font {
  font-family: Rubik, sans-serif;
  font-size: 18px;
}


form {
  width: 560px;
  min-width: 350px;
  height: 60px;
}

input {
  @extend .font;
  flex: 1;
  height: 60px;
  border-radius: 15px 0px 0px 15px;
  padding-left: 20px;
  margin: 0;
  border: none;

}

input::placeholder {
  color: hsl(0, 0%, 59%);
}


button {
  @extend .font;
  width: 60px;
  height: 62px;
  border-radius: 0px 15px 15px 0px;
  background-color: black;
  padding: 0;
  margin: 0;
  border: none;
  color: white;
  font-weight: 700;
}

button:hover {
  background-color: hsl(0, 0%, 17%);
}